// common
$primary-color: #2d8cf0;
$info-color: #2db7f5;
$success-color: #19be6b;
$warning-color: #ff822e;
$error-color: #ff2e2e;
// text
$text-color:#495060;
$link-color: #2D8cF0;
// background
$mask-color:rgba(#000, 0.7);